.character-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 0.01em solid #FFF;
}
.info-character-item-wrapper{
  visibility: hidden;
}

.info-character-item-wrapper:hover{
  position: absolute;
  z-index: 99;
}
.flask-container{
  display: flex;
  justify-content: center;
  border: 0.01em solid #FFF;
}

.each-flask-item{
display: flex;
flex-direction: row;
}
